* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notice {
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  text-align: left;
  -webkit-box-shadow: 0px 2px 10px #ccc;
  -moz-box-shadow: 0px 2px 10px #ccc;
  box-shadow: 0px 2px 10px #ccc;
}

.notice h2 {
  color: #f00;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.notice p {
  color: #000;
  font-size: 18px;
  line-height: 1.5;
}
